<header>
<div class ="bandelette"> </div>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">IA FOOD</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04" aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor04">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_home') }}">ACCUEIL</a>
        </li>
        
        {% if app.user %}
          <li class="nav-item">
            <a class="nav-link">Vous êtes connecté</a>
          </li>
        {% endif %}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">COMPTE</a>
          <div class="dropdown-menu">
        {% if app.user %}
            <a class="dropdown-item" href="{{ path('app_account')}}">Profil</a>
            <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
        {% else %}
            <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
            <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
        {% endif %}

        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_product') }}">PRODUITS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PRIX</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">À PROPOS</a>
        </li>
      </ul>
    </div>
    <div class = "icone"> 
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <img src="{{ asset('build/images/bouton_profil.png' ) }}" alt = "profil" /> 
        </li>
        <li class="nav-item">
            {% set totalQuantity = cart_service.getTotalQuantity() %}
            {% if totalQuantity > 0 %}
                <a href="{{ path('cart') }}" class="cart">
                  <img src="{{ asset('build/images/panier.png' ) }}" alt = "panier" />
                    <span class="cart-count">{{ totalQuantity }}</span>
                </a>
            {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="banner"> <img src="{{ asset('build/images/banniere_alimentaire.jpg' ) }}" alt = "banner" /> </div>
</header>