{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
<h1>Produits</h1>
<div class="container gallery">
    {% for product in products %}
    <div class="card mb-3">
    <h3 class="card-header">{{ product.name }}</h3>
    <div class="card-body">
    <img class="img-product" src="{{ asset('build/images/' ~ product.image1) }}" alt="Le complément alimentaire du futur">
        <p class="card-title">{{ product.description }}</p>
    </div>
    <div class="card-footer text-muted">
    {{ product.price }} euros
    </div>
    <a href="{{ path('app_product_by_id', {id: product.id}) }}" class="btn btn-secondary">
        Voir la fiche
    </a>
    </div>
    {% endfor %}
{% endblock %}

